In [1]:
import numpy as np

In [2]:
import pandas as pd

In [11]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [16]:
df

             A         B
G1 1 -0.123232 -0.455063
   2  0.245416  2.505963
   3  0.477310  0.528278
G2 1  1.124715  1.189258
   2 -1.458365 -0.591957
   3  3.006029 -0.239280

In [21]:
df.loc['G1']

          A         B
1 -0.123232 -0.455063
2  0.245416  2.505963
3  0.477310  0.528278

In [27]:
df.index.names = ['Groups','Num']

In [28]:
df

                   A         B
Groups Num
G1     1   -0.123232 -0.455063
       2    0.245416  2.505963
       3    0.477310  0.528278
G2     1    1.124715  1.189258
       2   -1.458365 -0.591957
       3    3.006029 -0.239280

In [32]:
df.loc['G2']['A'].loc[1]

1.1247145694072593

In [34]:
df.loc['G1'].loc[2]['A']

0.24541626847169615

In [35]:
df

                   A         B
Groups Num
G1     1   -0.123232 -0.455063
       2    0.245416  2.505963
       3    0.477310  0.528278
G2     1    1.124715  1.189258
       2   -1.458365 -0.591957
       3    3.006029 -0.239280

In [67]:
df['A'].iloc[0]

-0.12323182101223429

In [56]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.123232 -0.455063
G2      1.124715  1.189258