In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
np.random.seed(101)

In [16]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [17]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [18]:
df['W']

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [19]:
type(df['W'])

pandas.core.series.Series

In [20]:
df[['W','X']]

          W         X
A  0.386030  2.084019
B  0.681209  1.035125
C -1.005187 -0.741790
D -1.382920  1.482495
E  0.992573  1.192241

In [21]:
df['NEW'] = df['W'] + df['X']

In [22]:
df

          W         X         Y         Z       NEW
A  0.386030  2.084019 -0.376519  0.230336  2.470049
B  0.681209  1.035125 -0.031160  1.939932  1.716334
C -1.005187 -0.741790  0.187125 -0.732845 -1.746977
D -1.382920  1.482495  0.961458 -2.141212  0.099575
E  0.992573  1.192241 -1.046780  1.292765  2.184814

In [27]:
df.drop('W',axis=1)

          X         Y         Z       NEW
A  2.084019 -0.376519  0.230336  2.470049
B  1.035125 -0.031160  1.939932  1.716334
C -0.741790  0.187125 -0.732845 -1.746977
D  1.482495  0.961458 -2.141212  0.099575
E  1.192241 -1.046780  1.292765  2.184814

In [28]:
df

          W         X         Y         Z       NEW
A  0.386030  2.084019 -0.376519  0.230336  2.470049
B  0.681209  1.035125 -0.031160  1.939932  1.716334
C -1.005187 -0.741790  0.187125 -0.732845 -1.746977
D -1.382920  1.482495  0.961458 -2.141212  0.099575
E  0.992573  1.192241 -1.046780  1.292765  2.184814

In [30]:
df.drop('NEW',axis=1,inplace=True)

In [31]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [32]:
df.loc['A']

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [34]:
df.iloc[0]

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [35]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [36]:
df.loc['B','Z']

1.9399323109926203

In [37]:
df.loc[['A','D'],['X','Z']]

          X         Z
A  2.084019  0.230336
D  1.482495 -2.141212